img{
   width: 40px; 
   border-radius: 50%;
}

.container{
    width: 80%;
}

.my_green-bg{
    height: 100px;
    background-color: rgb(0, 133, 93);
}

.my_grey-bg{
    height: calc(100vh - 100px);
    background-color: rgb(189, 189, 189);
}

.my_smaller-text{
    font-size: 10px;
}

.my_small-text{
    font-size: 12px;
}

.my_text-grey{
    color: rgb(150, 150, 150);
}

.header{
    background-color: rgb(228, 228, 228);
    border-right: 1px solid rgb(197, 197, 197);
    height: 55px;
    
}

.sent-messages{
    float: right;
    background-color: rgb(148, 245, 148);
    width: 40%;
    margin: 5px 40px;
    padding: 5px 10px;
    border-radius: 10px;
}

.received-messages{
    float: left;
    background-color: rgb(255, 255, 255);
    width: 40%;
    margin: 5px 40px;
    padding: 5px 10px;
    border-radius: 10px;

}

#app{
    position: relative;
    top: 20px;
    height: calc(100vh - 40px);
    background-color: white;
}

#notifications{
    background-color: rgb(141, 218, 253);

}

#white-round-bg{
    padding: 11px 9px;
    border-radius: 50%;
    background-color: white;
    color: rgb(141, 218, 253);

}

#my_input-bar,
#my_input-bar-2{
    background-color: rgb(248, 248, 248);
}

#my_smaller-input-bar{
    background-color: white;
}

#my_bar,
#my_bar-2{
    width: 70%;
}

#my_smaller-input-bar i{
    color: rgb(146, 146, 146);
    font-size: small;
}

#messages-received>ul>li{
    list-style-type: none;
    border-bottom:  1px solid rgb(228, 228, 228);
}

#my_jumbo{
    height: calc(100vh - 167px);
    background-image: url(../img\ 3/mine.jpg);
    padding: 40px;
}

#my_bar-2{
    height: 40px;
    border-radius: 5px;
}


