img{
   width: 40px; 
   border-radius: 50%;
}

.my_green-bg{
    height: 100px;
    background-color: rgb(0, 133, 93);
}

.my_grey-bg{
    height: calc(100vh - 100px);
    background-color: rgb(189, 189, 189);
}

.my_smaller-text{
    font-size: x-small;
}

.my_small-text{
    font-size: 12px;
}

.my_text-grey{
    color: grey;
}

.header{
    background-color: rgb(228, 228, 228);
    
}

#app{
    position: relative;
    top: 20px;
    height: calc(100vh - 40px);
    background-color: white;
}

#notifications{
    background-color: rgb(141, 218, 253);

}

#white-round-bg{
    padding: 11px 9px;
    border-radius: 50%;
    background-color: white;
    color: rgb(141, 218, 253);

}

#my_input-bar{
    background-color: rgb(248, 248, 248);
}

#my_smaller-input-bar{
    background-color: white;
}

#my_bar{
    width: 80%;
}

#my_smaller-input-bar i{
    color: rgb(201, 201, 201);
    font-size: small;
}

#messages-received>ul>li{
    list-style-type: none;
    border-bottom:  1px solid rgb(228, 228, 228);
}


